html {
    font-size: 18px;
}

body {
    font-family: 'quicksand light', sans-serif;
    font-size: 1em;
    color: #717077;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    height: 100%;
    max-width: 1200px;
    width: 90%;
	margin: 0 auto;
    flex-flow: row wrap;
    padding: 1em 0;
}

h1 {
    font-family: 'La Belle Aurore', cursive;
    color: #E59985;
    font-size: 4em;
    font-weight: lighter;
    text-align: center;
    line-height: 1em;
}

h2 {
    font-family: 'cinzel', serif;
    font-size: 34px;
    
}

h3 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 40px;
}

h4 {
    font-family: 'cinzel', serif;
    font-size: 16px;
    color: #E59985;
    text-shadow: 1px 1px 1px #C1B5B4;
}

h5 {
    font-size: 20px;
    margin-top: 35px;
    width: 40%;
    text-align: center;
    background-color: #37818F;
    padding: 10px;
    border: 1px solid #717077;
    color: #ffffff;
}

h6 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 45px;
    color: #E59985;
    margin: 25px 0 0 0;
    letter-spacing: 3px;
    font-weight: lighter; 
}

p {
    letter-spacing: 1px;
    word-spacing: 3px;
}

a {
    text-decoration: none;
    color: #717077;
}

h1 a {
    color: #E59985;
    
}

h5 a {
    color: #ffffff;
}

a:hover {
    color: #717077;
    font-weight: bold;
    text-decoration: underline; 
    text-shadow: 2px 3px 4px #DDCECD;
}

h1 a:hover {
    text-decoration: none;
    font-weight: lighter; 
    color: #E59985;
}

h3 a:hover {
    text-decoration: none;
}

h5 a:hover {
    text-decoration: none;
    text-shadow: 0.15px 0 1px; 
    color: #ffffff;
}

p {
    text-align: justify;
}

/*** Nav Alignment ***/

header {
    margin-top: 0 auto;
    line-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    
}

header h1 {
    margin: 0;
    width: 100%;
    font-size: 55px;
    line-height: 75px;
}

header nav {
    width: 100%;
    margin: 0;
    text-align: center;
}

header nav ul {
    padding: 0;
    margin: 0 0 0.5em 0;
    text-align: center;
    list-style-type: none;
}

li {
    padding: 0.4em;
}

header nav img {
    padding: 0.5em;
    width: auto;
}


/*** Body ***/



/*** Welcome Screen ***/

.welcome {
    text-align: center;
    border-bottom: 2px solid #B3B1BC;
}

.welcome img {
    width: 100%;
    height: auto;
    margin-bottom: 35px;
}

.welcome h1 {
    margin: 20px 0 ;
}

.welcome p {
    font-size: 20px;
    padding-bottom: 2em;
}

/*** Post Sections ***/

.posts {
    border-bottom: 2px solid #B3B1BC;
}

.post-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.post-column {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    margin: 1em;
    flex-flow: row wrap;
}

.post-column img {
    width: 100%;
    height: auto;
}

.post-text {
    width: 100%;
    height: auto;
}

.post-text h3 {
    margin: 0.5em 0 0 0;
    padding: 0;
    line-height: 1.5em;
}

.post-text h4, 
.post-text p {
    margin: 0.2em;
    padding: 0;
}

.post-container h5 {
    margin: 1em 0 2em 0;
}

.tablet-buttons {
    display: none;
}

.desktop-buttons {
    display: none;
}

/*** At a Glance ***/

.grid-row {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3em;
}

.grid-row img {
    width: 45%;
    height: auto;
    padding: 0.5em 0;
}


/*** About Us ***/

.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about h1 {
    text-align: center;
    margin: 35px 0;
    width: 100%;
}

.about img {
    width: 100%;
}

.about-text {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.about-text h2 {
    width: 100%;
    margin: .5em 0 0 0;
    text-align: center;
    font-family: "La Belle Aurore", cursive;
    font-size: 38px;
    text-shadow: none;
    font-weight: lighter;
    letter-spacing: 3px;
    line-height: 1em;
}


/*** Footer ***/




/*** About Page ***/

#about-page h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 45px;
    text-align: left;
    line-height: 145%;
    padding-bottom: 25px;
    margin-top: 55px;
    letter-spacing: 3px;
}

.post-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #B3B1BC;
}

.post-page {
    width: 70%;
}


.post-page h1 {
    font-size: 65px; 
    text-shadow: none;
    text-align: left;
    margin: 0;
}

.post-page h2 {
    font-size: 25px;
    margin-top: 55px;
}

.post-page h4 {
    margin: 0 0 35px 0;
    color: #717077;
    text-shadow: none; 
}

.post-page p {
    line-height: 35px;
}

.post-page ul {
    float: none;
    text-align: left;
    list-style: square inside;
}

.post-page li {
    display: list-item;
    padding: 12px 0 0 35px;
}

.post-page img {
    width: 70%;
    display: block;
    margin: 35px auto;
}

#a-bientot-img {
    width: 10%;
    margin: 0;
    border-radius: 50px;
}

.post-page p a {
    text-decoration: underline;
}

/*=====================================================================
Tablet Media Queries
=====================================================================*/

@media screen and (min-width: 768px) {
    .grid-row {
        justify-content: center;
    }
    
    .grid-row img {
        width: 30%;
        padding: 0.5em 0.5em; 
    }
    
    /*** Nav ***/
    nav {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        padding-bottom: 1em;
    }
    
    header h1 {
        width: 100%;
    }
    
    header nav ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
    }
    
    .contact {
        display: none;
    }
    
    /*** Welcome Screen ***/
    
     .welcome {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    
    .welcome h1 {
        width: 100%;
        height: auto;
    }
    
    .welcome p {
        width: 70%;
        text-align: center;
    }
    
    /*** Posts ***/
    .posts {
        padding-bottom: 2em;
    }
    
    .post-column {
        justify-content: space-between;
    }
    
    .post-column img {
        width: 45%;
        height: auto;
    }
    
    .post-text {
        width: 50%;
    }
    
    .post-text h3 {
        margin: 0;
    }

    .post-text p {
        font-size: 0.9em;
    }
    
    .post-text h5 {
        font-size: 0.9em;
    }
    
    .mobile-buttons {
        display: none;
    }
    
    .tablet-buttons {
        display: flex;
        justify-content: center;
    }
    
    /****** About Us ****/
    .about-large-screen {
        display: flex;
        height: 100%;
        justify-content: center;
        flex-flow: row wrap;
    }
    
    .about-large-screen img {
        height: 20%;
        width: auto;
    }
    
    .about-text h2 {
        line-height: 2em;
    }
    
    .about-text p {
        margin: 0;
    }
}

/*=====================================================================
Desktop Media Queries
=====================================================================*/

@media screen and (min-width: 1200px) {
    
    h1 {
        font-size: 5em;
    }
    
    
    
/*** Nav ***/
    
    nav {
        justify-content: space-between;
        align-items: center;
    }
    
    header h1 {
        width: auto;
    }
    
    header nav ul {
        margin: 0;
        width: 55%;
    }
    
    .contact {
        display: initial;
        margin: 0;
    }
    /*** Welcome Screen ***/
   
    
    /*** Posts ***/
    
    .desktop-posts {
        display: flex;
        align-items: flex-start;
    }
    
    .post-container {
        width: 33%;
        height: auto;
        margin: 0;
    }
    
    .post-column {
        justify-content: center;
    }
    
    .post-column img {
        width: 100%;
        height: auto;
    }
    
    .post-text {
        width: 100%;
        margin: 1em 0 0 0;
    }
    
    .post-container h5 {
        display: none;
    }
    
    .desktop-buttons {
        display: flex;
        justify-content: space-around;
    }
    
    .desktop-buttons h5 {
        width: 15%;
    }

    /*** At a Glande ***/
    
    .grid-row img {
        width: 22%;
    }
    
    /*** About Us ***/
    
    .about-large-screen {
        justify-content: space-between; 
    }
    
    .about-large-screen img {
        height: 20%;
        width: auto;
    }
    
    .about-text {
        width: 55%;
    }
    


}